# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so they are not needed in git.
*.spec

# Caching and temporary files
.cache/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.lprof
*.prof
*.prof
*.lprof
*.pt
*.prof

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.idea/
.vscode/
*.swp
*.swo
*.bak
*~
.project
.pydevproject
.settings/
*.sublime-workspace

# Other
*.log
*.pot
*.py,cover
*.local
local_settings.py
db.sqlite3
db.sqlite3-journal
.DS_Store
Thumbs.db
